.spring{
    width: 350px;
    border: 4px rgb(173, 222, 173)
}

.summer{
    width: 350px;
    border: 4px rgb(214, 226, 42)
}

.fall{
    width: 350px;
    border: 4px rgb(169, 163, 6)
}

.summer{
    width: 350px;
    border: 4px rgb(255, 255, 255)
}